# POSTGRES config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=taskdb

# URL for fastapi
DATABASE_URL=postgresql://postgres:postgres@db:5432/taskdb

# Security
SECRET_KEY=change_me
ALGORITHM=HS256